//-------------------------------------- VARIABLES -------------------------------------------------------
$color-primary: #f1f1e7;
$color-primary-dark: #c7b299;
$color-secondary: #b95971;
$color-grey: #959595;
$color-black: #000;
$color-white: #fff;

$font-default: 1.6rem;
